@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'League Spartan', sans-serif;
}

:root {
  --primary-color1:  hsl(222, 26%, 31%);
  --toggleKeyPad1: hsl(223, 31%, 20%);
  --toggleColor1:  hsl(6, 63%, 50%);
  --keyPad1:  hsl(30, 25%, 89%);
  --keyPadShadow1:  hsl(28, 16%, 65%);
  --keyBackground1:  hsl(225, 21%, 49%);
  --keyshadow1: hsl(224, 28%, 35%);
  --primary-color2:   hsl(0, 0%, 90%);
  --toggleKeyPad2: hsl(0, 5%, 81%);
  --screenBackground2: hsl(0, 0%, 93%);
  --toggleColor2:   hsl(25, 98%, 40%);
  --keyBackground2: hsl(45, 7%, 89%);
  --keyshadow2:hsl(35, 11%, 61%);
  --text2:  hsl(60, 10%, 19%);
  --delResetBtn2:  hsl(185, 42%, 37%);
  --delResetBtnShadow2:  hsl(185, 58%, 25%);
  --equalBtn2: hsl(25, 98%, 40%);
  --equalBtnShadow2:  hsl(25, 99%, 27%);
  --primary-color3:   hsl(268, 75%, 9%);
  --toggleKeyPad3: hsl(268, 71%, 12%);
  --screenBackground3:hsl(268, 71%, 12%);
  --toggleColor3:   hsl(176, 100%, 44%);
  --keyBackground3: hsl(268, 47%, 21%)  ;
  --keyshadow3: hsl(290, 70%, 36%);
  --text3:   hsl(52, 100%, 62%);
  --delResetBtn3: hsl(281, 89%, 26%);
  --delResetBtnShadow3:  hsl(290, 70%, 36%);
  --equalBtn3: hsl(176, 100%, 44%);
  --equalBtnShadow3: hsl(177, 92%, 70%);
}

body {
  background: var(--primary-color1);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

article {
  width: 600px;
  height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

article .header {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article .header h1 {
  font-weight: 700;
  font-size: 2rem;
}

article .header .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  text-transform: uppercase;
}

article .header .theme h2 {
  font-size: 1rem;
}

article .header .theme .choose-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

article .header .theme .choose-theme .preference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .header .theme .choose-theme .toggle {
  cursor: pointer;
  width: 70px;
  border-radius: 15px;
  height: 25px;
  background: var(--toggleKeyPad1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .header .theme .choose-theme .toggle div {
  margin-left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

article .header .theme .choose-theme .toggle .theme1 {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: var(--toggleColor1);
}

article .header .theme .choose-theme .toggle .theme2 {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: var(--toggleColor2);
}

article .header .theme .choose-theme .toggle .theme3 {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: var(--toggleColor3);
}

article .header .theme .choose-theme .toggle .active {
  visibility: visible;
  -webkit-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
}

article .header .theme .choose-theme .toggle .transparent {
  background: transparent;
}

article .header .theme .choose-theme .toggle .ball {
  margin-left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--toggleColor1);
}

article .display {
  width: 100%;
  height: 140px;
  background: var(--toggleKeyPad1);
  border-radius: 10px;
  font-size: 3.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 2.5rem 1.7rem;
}

article .display .displayNumbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  overflow-x: scroll;
}

article .display .displayNumbers #result {
  font-size: 2rem;
}

article .display .displayNumbers #number {
  font-size: 3rem;
}

article .display .displayNumbers::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.buttons {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  background: var(--toggleKeyPad1);
  border-radius: 15px;
  padding: 1.7rem;
}

.buttons button {
  cursor: pointer;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  font-size: 2rem;
  padding: 1rem;
  color: var(--toggleKeyPad1);
  background: var(--keyPad1);
  width: 100px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.27rem solid var(--keyPadShadow1);
}

.buttons button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  border: 1.5px solid var(--toggleColor1);
}

.buttons .activeBtn:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  border: 1.5px solid var(--toggleColor1);
}

.buttons .delete {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  background: var(--keyBackground1);
  border-bottom: 0.27rem solid #404e72;
}

.buttons .multiply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 1.7rem;
}

.buttons .reset {
  font-size: 1.8rem;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  width: 90%;
  color: white;
  background: var(--keyBackground1);
  border-bottom: 0.27rem solid #404e72;
}

.buttons .equal {
  background-color: var(--toggleColor1);
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  width: 90%;
  color: white;
  border-bottom: 0.27rem solid #93261a;
}

.secondTheme {
  background: var(--primary-color2);
  color: var(--text2);
}

.secondTheme article .header .theme .choose-theme .toggle {
  background: var(--toggleKeyPad2);
}

.secondTheme article .header .theme .choose-theme .toggle .ball {
  background: var(--toggleColor2);
}

.secondTheme article .display {
  background: var(--screenBackground2);
  color: var(--text2);
}

.secondTheme article .buttons {
  background: var(--toggleKeyPad2);
}

.secondTheme article .buttons button {
  color: var(--text2);
  background: var(--keyBackground2);
  border-bottom: 0.27rem solid var(--keyshadow2);
}

.secondTheme article .buttons button:active {
  border: 1.5px solid var(--equalBtn2);
}

.secondTheme article .buttons .delete {
  background: var(--delResetBtn2);
  border-bottom: 0.27rem solid var(--delResetBtnShadow2);
}

.secondTheme article .buttons .reset {
  background: var(--delResetBtn2);
  border-bottom: 0.27rem solid var(--delResetBtnShadow2);
}

.secondTheme article .buttons .equal {
  background-color: var(--equalBtn2);
  border-bottom: 0.27rem solid var(--equalBtnShadow2);
}

.thirdTheme {
  background: var(--primary-color3);
  color: var(--text3);
}

.thirdTheme article .header .theme .choose-theme .toggle {
  background: var(--toggleKeyPad3);
}

.thirdTheme article .header .theme .choose-theme .toggle .ball {
  background: var(--toggleColor3);
}

.thirdTheme article .display {
  background: var(--screenBackground3);
  color: var(--text3);
}

.thirdTheme article .buttons {
  background: var(--toggleKeyPad3);
}

.thirdTheme article .buttons button {
  color: var(--text3);
  background: var(--keyBackground3);
  border-bottom: 0.27rem solid var(--keyshadow3);
}

.thirdTheme article .buttons button:active {
  border: none;
  background: #613c8b;
}

.thirdTheme article .buttons .delete {
  background: var(--delResetBtn3);
  border-bottom: 0.27rem solid var(--delResetBtnShadow3);
}

.thirdTheme article .buttons .delete:hover {
  background: #6f3c80;
}

.thirdTheme article .buttons .reset {
  background: var(--delResetBtn3);
  border-bottom: 0.27rem solid var(--delResetBtnShadow3);
}

.thirdTheme article .buttons .reset:hover {
  background: #6f3c80;
}

.thirdTheme article .buttons .equal {
  color: black;
  background-color: var(--equalBtn3);
  border-bottom: 0.27rem solid var(--equalBtnShadow3);
}

.thirdTheme article .buttons .equal:hover {
  background-color: var(--equalBtnShadow3);
  border-bottom: 0.27rem solid var(--equalBtn3);
}

@media (max-width: 708px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article {
    margin: auto;
    max-width: 90%;
  }
  article .display {
    max-width: 100%;
  }
}

@media (max-width: 592px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article {
    max-width: 80%;
  }
  article .display {
    max-width: 100%;
  }
  .buttons .button {
    width: 80%;
  }
}

@media (max-width: 503px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article {
    max-width: 85%;
  }
  article .display {
    max-width: 100%;
  }
  .buttons button {
    width: 70px;
    height: 60px;
  }
}
/*# sourceMappingURL=style.css.map */